*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size:16px;
    background-color: #0e1012;
}

.img-responsive{
    width:100%;
    height:auto;
}
section{
    height:100vh;
}
.sec__imgsplit{
    position: relative;
    
}
.sec__imgsplit > div{
    position:absolute;
}

.left{
    left:24%;
    top: 20%;
    z-index:100;

}
.right{
    right:24%;
    top:20%;
    z-index:100;
}

.center{
    top:50%;
    left:50%;
    transform:translate(-50%,50%);
    z-index:90;
}

h2{
    color:white;
    font-size:45px;
}

.sec__imgsplit img{
    border-radius: 8px;
}

nav{
    background-color: #9a9b9c38;
    min-height:50px;
}

nav ul{
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
}
nav ul li{
    list-style: none;
    padding: 7px 23px;
    border: 1px solid white;
    margin: 5px 10px;
    border-radius: 26px;
}
nav ul li a{
    color:white;
    text-decoration:none;
}

.sec-1{
    position:relative;
    height:100%;
}
.sec-1 img{border-radius: 10px;}

.dec-1__img1{
position: absolute;
transform: rotate(-21deg);
top:35%;
left:15%;
}

.dec-1__img2{
    position: absolute;
    transform: rotate(21deg);
    top:19%;
    right:15%;
    }

    .dec-1__img3{
        position: absolute;
        transform: rotate(18deg);
        top:58%;
        right:15%;
        }

        .dec-1__img4{
            position: absolute;
            transform: rotate(-18deg);
            top:18%;
            left:12%;
            }